.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vmin;
}

.calculator-container {
  width: 25%;
}

.results {
  background-color: #858693;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.results p {
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  padding: 4px;
}

.digit-operator {
  display: grid;
  grid-template-columns: 82% 18%;
}

.tableDigit {
  background-color: #e0e0e0;
  width: 100%;
  height: 100%;
}

td:nth-child(even) {
  border: 1px solid #c2c2c2;
  border-top: none;
}

td:nth-child(odd) {
  border-bottom: 1px solid #c2c2c2;
}

.point:nth-child(2n) {
  border-right: none;
}

.operators {
  background-color: #f5913e;
  display: flex;
  flex-direction: column;
}

.eachSigns {
  border: 1px solid #c2c2c2;
}
